<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Address Book</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename="style.css") }}" rel="stylesheet">

  </head>

  <body>

	  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
		  <a class="navbar-brand" href="#">Address Book</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		 <!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#">Contacts</a>
		      </li>
		    </ul>
		  </div> -->
		</nav>
		{% if flask_debug %}
	      <div class="alert alert-danger">
	        Flask is in debug mode. This is not safe for production.
	      </div>
		{% endif %}

		<div class="container">
		  	 <!-- <div class="custom-file mb-2">
			    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
			    <label class="custom-file-label" for="validatedCustomFile">Use custom address book...</label>
			    <div class="invalid-feedback">Invalid custom file; please use a file with a txt or csv file extension.</div>
			  </div> -->

		  	<div class="input-group mb-4">
			  <input id="search-input" type="text" class="form-control" placeholder="Search for" aria-label="Search for" aria-describedby="basic-addon2">
			  <div class="input-group-append">
			    <button id="search-button" class="btn btn-outline-secondary disabled" type="button">Search</button>
			  </div>
			</div>


			<table class="table table-striped" id="contact-table">
			  <thead>
			    <tr>
			      <th scope="col">First</th>
			      <th scope="col">Last</th>
			      <th scope="col">Street</th>
			      <th scope="col">City</th>
			      <th scope="col">State</th>
			      <th scope="col">Age</th>
			    </tr>
			  </thead>
			  <tbody>
			  {% for person in contacts %}
			    <tr>
			      <td>{{ person[0] }}</td>
			      <td>{{ person[1] }}</td>
			      <td>{{ person[2] }}</td>
			      <td>{{ person[3] }}</td>
			      <td>{{ person[4] }}</td>
			      <td>{{ person[5] }}</td>
			    </tr>
			   {% endfor %}
			  </tbody>
			</table>
			<!-- <form class="form-inline md-form mr-auto mb-4">
			    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			    <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
			</form> -->

			 <footer class="border-top mt-5 mb-5">
			 	<div class="row">
			 		<div class="col-12 mt-1">
			 			<p class="mb-0">Address Book</p>
			 			<small class="d-block ml-1 text-muted">by Nick Wisehart</small>
			 		</div>
			 	</div>
			 </footer>	
		</div>


    <script src="{{ url_for('static', filename="jquery/jquery.js") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      function activateSearch(bool) {
      	if(!bool){
      		$("#search-button").addClass('disabled');
	  	  	$("#search-button").html('Search');
      	} else {
      		$("#search-button").html('Clear');
	    	$("#search-button").removeClass('disabled');

      	}
      }

      $("#search-input").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#contact-table tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	    if( $("#search-button").hasClass('disabled') ) {
	    	activateSearch(true);
	    }
	    if( $(this).val() == "" ) {
	    	activateSearch(false);
	    }
	    $("#search-button").on('click', function(){
	  	  	$("#search-input").val('');
	  	  	$("#contact-table tr").filter(function(){
	  	  		$(this).toggle(true);
	  	  	});
	  	  	activateSearch(false);
	  	  	$("#search-button").unbind('click');
		});
  	  });
    })
    </script>
  </body>
</html>